body {
}

.Address {border: 1px solid black; text-align:center; padding:10px;}
.fieldTitle { border-bottom: 4px solid black;font-weight:bold;}
tr {padding:10px; background-color: #DCDCDC;}
.subjectProperty td { background-color:#87CEEB;}